<div class="page{{id}}">
    <h1>{{title}}</h1>
    <div class="header{{id}}" data-title="Tasty, tasty, tasty breakfast!">
        <h3>{{header}}</h3>
        <p class="content{{id}}">{{content}}</p>

    </div>

</div>